@import "../../assets/commonstyles/colors.scss";

.projectsheading{
    color:$primarybuttoncolor;
    font-weight: 700;
}

.subchildcontainer{
    height: 100%
}

.text-description{
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}

.desc-card{
    height: 175px;
}