$primarybuttoncolor:#c55959;

.sayhellobutton{
    height: 40px;
    border: none;
    border: 1px solid $primarybuttoncolor;
    background: none;
    outline: none;
    color: #c55959;
    border-radius: 20px;
    padding: 0px 25px;
} 